.mainContainer {
  /* border: 1px solid red; */
  width: 70vw;
}
li{
  list-style-type: none;
}
.topOptions {
  display: flex;
  list-style-type: none;
  margin-top: 6vh;
}
.topListOption {
  margin-left: 1vw;
  /* border: 2px solid #ccc; */

  font-weight: bold;
}
.topListOption:hover {
  background-color: #ccc;
  border-radius: 12%;
}
/* MainContentSearchDisplay.module.css */
.noStyleButton {
  border: none;
  background: none;
  padding: 0.5;
  margin: 0;
  cursor: pointer;
  outline: none; /* Remove outline by default */
}
.noStyleButton:focus {
  outline: none; /* Remove outline when button is clicked */
}
/* MainContentSearchDisplay.module.css */
.highlightBackground {
  background-color: #ccc; /* Choose your desired highlight color */
  border-radius: 12%;
}
.search {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  position: relative;
  margin-left: 2vw;
}
.searchBox {
  border-radius: 20px; /* Oval-shaped edges */
  padding: 0.5vw; /* Adjust padding as needed */
  padding-right: 20vw;
  font-family: "Nunito", sans-serif;
}

.search input[type="text"] {
  margin-left: -0.75vw;
}

.search button {
  position: absolute;
  top: 1;
  left: 0;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.searchLine {
  border-top: 1px solid #ccc;
  padding-top: 1vh;
}
.filterOptions {
  display: flex;
  font-size: medium;
  font-family: "Nunito", sans-serif;
}

.dropdownMenu {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 0;
}
.dropdownContent {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-right: 15vw;
}

/* Additional styles for dropdown options */
.dropdownContent p {
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
}

/* Additional styles for when hovering over dropdown options */
.dropdownContent p:hover {
  background-color: #ddd;
}

.sortBy {
  margin-left: 15vw;
  border: 1px solid #ccc;
  padding: 1vh 1vw 1vh 1vw;
}
.filters {
  margin-left: 2vw;
  border: 1px solid #ccc;
  padding: 1vh 1vw 1vh 1vw;
}
.filterIcons {
  margin-left: 3vw;
  margin-top: 3vh;
}
.clearAll{
  color: blue;
  text-decoration: underline;
}

.gridView {
  height: 3vh;
}
.hamburger {
  margin-left: 2vw;
  height: 3vh;
}
.imageDisplay {
  /* border: 1px solid red; */
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3vw;
}
.carouselList {
  margin-left: 2vw;
  border: px solid red;
}
.carouselContainer {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  gap: 10px; /* Adjust the spacing between ImageCarousel components */

  flex-wrap: wrap;
}

.carouselContainer > div {
  text-align: center; /* Center the text */
}

.carouselContainer > div p {
  margin-top: 10px; /* Add some space between the carousel and text */
}
.imageDisplayContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listingImage{
  width: 20vw;
  height: 30vh;
  margin-left: 2vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}
.listingImage:hover{
border: 2px solid black;
/*transform: rotate(45deg);  Rotate the image by 45 degrees */
}

.textContentListings{
  margin-left: 2vw;
}
.itemName{
    text-align: left;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
.saleLocation{
    
    font-size: smaller;
    text-align: left;
}
.itemNameSmaller{
    text-align: left;
    font-size: medium;
    font-family: "Nunito", sans-serif;
}
.priceLine{
  display: flex;
}
.buyNow{
    font-size: smaller;
    font-weight: bold;
    text-align: left;
    font-family: "Nunito", sans-serif;
}
.itemCost{
    font-size: medium;
    font-weight: bold;
}
.currentBid{
    margin-left: 5vw;
    font-size: small;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid ;
}
.currentBidNum{
    font-size: medium;
    
}